* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#screen {
    display: flex;
}


#user_details {
    width: 5%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#user_details svg {
    margin: 20px;
}

#query {
    height: 40%;
    width: 70%;
    font-size: 15px;
    padding: 5px;
}

#search {
    height: 62%;
    width: 10%;
}

#navbar>div {
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_body {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    width: 95%;
    overflow-x: hidden;
}

#navbar {
    border-bottom: 1px solid black;
    height: 10vh;
    width: 95%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#container {
    display: grid;
    gap: 20px;
    margin-top: 14vh;
    align-items: center;
    justify-content: center;
}

#container>div {
    cursor: pointer;
}

#container h5 {
    padding-top: 20px;
}

img {
    width: 40%;
}